*.class
*.log
.DS_Store
project/*
target/*

# kafka
kafka/project/target/*

# spark
spark/chk-point-dir/*
spark/output/*

data/dev/parsed.txt

# kafaka java
kafkaJava/.idea/
kafkaJava/target/
kafkaJava/pos-simulator.iml