*.class
*.log
.DS_Store
project/*
target/*

# kafka
kafka/project/target/*
kafka/project/target/scala-2.12/*
kafka/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
kafka/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
kafka/project/target/streams/compile/compileIncremental/_global/streams/out
kafka/project/target/streams/compile/copyResources/_global/streams/out
kafka/project/target

# spark
spark/chk-point-dir/*
spark/output/*
spark/chk-point-dir2/*
kafka/project/target/streams/compile
kafka/project/target/scala-2.12/sbt-1.0

data/dev/parsed.txt

# kafaka java
kafkaJava/.idea/
kafkaJava/target/
kafkaJava/pos-simulator.iml

# sbt
kafka/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
kafka/project/target/streams/compile/compileIncremental/_global/streams/out
kafka/project/target/streams/compile/copyResources/_global/streams/out

# spark-poc
spark-poc/sparkJob/.bsp/
spark-poc/sparkJob/.idea/
spark-poc/sparkJob/project/project/
spark-poc/sparkJob/project/target/
spark-poc/sparkJob/target/